* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
input {
  outline: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
}
/*鍘婚櫎绉诲姩绔痓utton鐐瑰嚮鍚庢湁铏氱嚎*/

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*鍘婚櫎绉诲姩绔暱鎸夊浘鏍囧悗鍙堣摑鑹茬殑妗�*/

/* 浣块〉闈㈡棤娉曢暱鎸夊鍒� */

/* .globalHeader {
} */

.searchImageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

@media (min-width: 500px) {
  .searchImageDiv {
    margin-top: 160px;
  }
}

.searchImage {
  max-width: 160px;
  margin-bottom: 30px;
}

@media (min-width: 500px) {
  .searchImage {
    min-width: 300px;
  }
}

.formAndButtons {
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .formAndButtons {
    margin-bottom: 50px;
  }
}

.searchIconAndSearchInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIconAndSearchInput .icon {
  position: absolute;
  left: 15px;
}

@media (min-width: 500px) {
  .searchIconAndSearchInput .icon {
    top: 15px;
  }
}

.searchInput {
  width: 90vw;
  padding-left: 40px;
  border-radius: 40px;
  min-height: 44px;
  border: 1px solid #dfe1e5;
}

.searchInput:focus {
  box-shadow: 0 0 0.1rem #c2c2c2;
}

@media (min-width: 500px) {
  .searchInput {
    width: 582px;
    min-height: 44px;
    margin-bottom: 18px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}

@media (min-width: 500px) {
  .buttons {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}

.buttons > .button1 {
  background: #f2f2f2;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttons > .button2 {
  background: #f2f2f2;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

.globalMain {
  display: flex;
  justify-content: center;
}

.siteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 300px;
  margin-top: 30px;
}

@media (min-width: 500px) {
  .siteList {
    width: 700px;
  }
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 80px;
  position: relative;
  cursor: pointer;
}

@media (min-width: 500px) {
  .site {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

/* .site .close {
} */

.site .close .icon {
  position: absolute;
  right: -8px;
  top: 0px;
  display: block;
  visibility: hidden;
}

/* .siteList .site:hover .close .icon {
} */

@media (min-width: 500px) {
  .siteList .site:hover .close .icon {
    animation: hoverDelay 0.5s forwards;
    visibility: visible !important;
    /*閬垮厤琚玧s鐨勭偣鍑荤┖鐧藉hidden鐨勪唬鐮佽鐩栵紝瀵艰嚧鍐嶆hover鏃犳晥*/
  }
}

@keyframes hoverDelay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site .siteLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #f2f2f2;
  font-size: 32px;
  font-family: arial, sans-serif;
}

.url {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 4px;
}


/*# sourceMappingURL=style.78952170.css.map */